<header class="text-light">
    <div class="logo">Logo</div>
    <nav>
        <ul>
            <li>
                <a href="/" class="text-light">Home</a>
            </li>
            <li>
                <a href="/contact" class="text-light">Contact</a>
            </li>
        </ul>
    </nav>
</header>